/* All classes used in index.htnl 

page = entire page (like the background)
card = section of page

site
about-me-page
profile-card
‎skills-card‎
certifications-achievements-card

work-experience-page
experience-card

academics-page
academics-card

extracurriculars-page

projects-page
projects-card

*/

/* Reset default browser margins and padding */

body {
    padding-top: 170px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {
  border: 8px solid #FFECD1;
  border-radius: 16px; /* curves border corners */
  background-color: #FFECD1;
  padding: 32px;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #001524;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 24px 0;

    z-index: 1000;
}

.site-navigation ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* make it go apart */
.site-navigation li {
    margin-left: 24px;
}

/* make it perty */
.site-navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background-color: #15616D; /* box background colour */
    padding: 10px 18px; /* Top/Bottom and Left/Right spacing inside  box */
    border: 2px solid #15616D;  /* box outline */
    border-radius: 999px;
    transition: all 0.3s ease; /* smoothly animates colours on hover */
}

/* change colour on hover */
.site-navigation a:hover {
    background-color: #FFECD1;
    border-color: #FFECD1;
    color: #001524;
}

.site-name a {
    font-size: 36px;
    font-weight: bold;
    color: #FFECD1;
    text-decoration: none;
    letter-spacing: 2px;
}



.about-me-page {
  border: 8px solid #78290F;
  border-radius: 16px; /* curves border corners */
  background-color: #78290F;
  padding: 32px;
}

.profile-card {
  border: 8px solid #FF7D00;
  border-radius: 16px; /* curves border corners */
  background-color: #FF7D00;
  padding: 32px;
}

.skills-card {
  border: 8px solid #FF7D00;
  border-radius: 16px; /* curves border corners */
  background-color: #FF7D00;
  padding: 32px;
}

.certifications-achievements-card {
  border: 8px solid #FF7D00;
  border-radius: 16px; /* curves border corners */
  background-color: #FF7D00;
  padding: 32px;
}

.work-experience-page {
  border: 8px solid #cccccc;
  border-radius: 16px; /* curves border corners */
  background-color: #cccccc;
  padding: 32px;
}

.experience-card {
  border: 8px solid #cccccc;
  border-radius: 16px; /* curves border corners */
  background-color: #cccccc;
  padding: 32px;
}

.academics-page {
  border: 8px solid #cccccc;
  border-radius: 16px; /* curves border corners */
  background-color: #cccccc;
  padding: 32px;
}

.academics-card {
  border: 8px solid #cccccc;
  border-radius: 16px; /* curves border corners */
  background-color: #cccccc;
  padding: 32px;
}

.extracurriculars-page {
  border: 8px solid #cccccc;
  border-radius: 16px; /* curves border corners */
  background-color: #cccccc;
  padding: 32px;
}

.projects-page {
  border: 8px solid #cccccc;
  border-radius: 16px; /* curves border corners */
  background-color: #cccccc;
  padding: 32px;
}

.projects-card {
  border: 8px solid #cccccc;
  border-radius: 16px; /* curves border corners */
  background-color: #cccccc;
  padding: 32px;
}


/*
refrence code

body {
  background-color: black;
}
h1 {
  color: orange;
}
h2 {
  color: orange;
}
h3 {
  color: orange;
}
h4 {
  color: orange;
}
p {
  color: white;
}
*/
