/* All classes used in index.htnl 

page = entire page (like the background)
card = section of page

site
about-me-page
profile-card
‎skills-card‎
certifications-achievements-card

work-experience-page
experience-card

academics-page
academics-card

extracurriculars-page

projects-page
projects-card

*/
.site {
  border: 8px solid #FFECD1;
  border-radius: 8px; /* curves border corners */
  background-color: #FFECD1;
  padding: 30px;
}

.about-me-page {
  border: 8px solid #78290F;
  border-radius: 8px; /* curves border corners */
  background-color: #78290F;
  padding: 30px;
}

.profile-card {
  border: 8px solid #FF7D00;
  border-radius: 8px; /* curves border corners */
  background-color: #FF7D00;
  padding: 30px;
}

.skills-card {
  border: 8px solid #FF7D00;
  border-radius: 8px; /* curves border corners */
  background-color: #FF7D00;
  padding: 30px;
}

.certifications-achievements-card {
  border: 8px solid #FF7D00;
  border-radius: 8px; /* curves border corners */
  background-color: #FF7D00;
  padding: 30px;
}

.work-experience-page {
  border: 8px solid #cccccc;
  border-radius: 8px; /* curves border corners */
  background-color: #cccccc;
  padding: 30px;
}

.experience-card {
  border: 8px solid #cccccc;
  border-radius: 8px; /* curves border corners */
  background-color: #cccccc;
  padding: 30px;
}

.academics-page {
  border: 8px solid #cccccc;
  border-radius: 8px; /* curves border corners */
  background-color: #cccccc;
  padding: 30px;
}

.academics-card {
  border: 8px solid #cccccc;
  border-radius: 8px; /* curves border corners */
  background-color: #cccccc;
  padding: 30px;
}

.extracurriculars-page {
  border: 8px solid #cccccc;
  border-radius: 8px; /* curves border corners */
  background-color: #cccccc;
  padding: 30px;
}

.projects-page {
  border: 8px solid #cccccc;
  border-radius: 8px; /* curves border corners */
  background-color: #cccccc;
  padding: 30px;
}

.projects-card {
  border: 8px solid #cccccc;
  border-radius: 8px; /* curves border corners */
  background-color: #cccccc;
  padding: 30px;
}


/*
refrence code

body {
  background-color: black;
}
h1 {
  color: orange;
}
h2 {
  color: orange;
}
h3 {
  color: orange;
}
h4 {
  color: orange;
}
p {
  color: white;
}
*/
